.row
  .col-md-12.well
    = form_for @dvd do |f|
      - if @dvd.errors.any?
        #error_explanation
          %h2
            = pluralize(@dvd.errors.count, "error")
            prohibited this dvd from being saved:

          %ul
            - @dvd.errors.full_messages.each do |message|
              %li= message

      - if @dvd.home_theater_info
        = render 'home_theater_info', info: @dvd.home_theater_info

      .form-group
        %label{for: "Title"} Title
        = f.text_field :title, class: "form-control"
        %span.help-block This title will override the title in the Home Theater Info
      .form-group
        %label{for: "genre"} Genre
        = f.text_field :genre, class: "form-control"
        %span.help-block This genre will override the genre in the Home Theater Info
      .form-group
        %label{for: "note"} Notes
        = f.text_area :note, class: "form-control"
      .form-group
        %label{for: "location"} Location
        = f.select :location_id, options_for_select(@locations.collect { |l| [ l.print, l.id ] }, @dvd.location_id || @location.try(:id)), class: "form-control", include_blank: "-- Choose --"

      .form-group
        %label{for: "upc"} UPC Code
      = text_field_tag :upc_code, @dvd.home_theater_info.try(:upc), class: "form-control"

      .row &nbsp;
      .actions
        = f.submit class: "btn btn-success"
