.row
  .col-md-12
    %h1 DVDs

.row
  .col-md-2
    .well
      %p
        %strong Location
      - @locations.each do |location|
        = link_to location.print, location_dvds_path(location)
        <br>

  .col-md-10
    %table.dvds-table
      %thead
        %tr
          %th
      %tbody
        - @dvds.each do |dvd|
          %tr
            %td
              .well
                = "<strong>#{ dvd.home_theater_info.dvd_title }</strong><br>".html_safe
                = "#{ dvd.note } <br>".html_safe unless dvd.note.nil?
                = "Location: #{ dvd.location.print }"
                .text-right
                  = link_to 'Show', dvd
                  &nbsp;|&nbsp;
                  = link_to 'Edit', edit_dvd_path(dvd)
                  &nbsp;|&nbsp;
                  = link_to 'Destroy', dvd, method: :delete, data: { confirm: 'Are you sure?' }

  <br>

  = link_to 'New DVD', new_dvd_path, class: "btn btn-primary"
