- shelves = @locations.each.collect(&:shelf).uniq
- rows = @locations.each.collect(&:row).uniq
- stacks = @locations.each.collect(&:stack).uniq
.row
  .col-md-12
    %h1 DVDs

.row
  .col-md-12
    .well
      %p
        %strong Filter Location
      = form_tag dvds_path, method: 'get', id: 'dvds_search' do
        Shelf
        = select_tag :shelf, options_for_select(shelves, params[:shelf]), include_blank: true
        &nbsp;Row
        = select_tag :row, options_for_select(rows, params[:row]), include_blank: true
        &nbsp;Stack
        = select_tag :stack, options_for_select(stacks, params[:stack]), include_blank: true
        = submit_tag "Filter", class: 'btn btn-default'
.container.dvd-search
  .row
    %table.dvds-table.table-striped
      %thead
        %tr
          %th Title
          %th Location
          %th Genre
          %th Notes
          %th Actions
      %tbody
        - @dvds.each do |dvd|
          %tr
            %td
              %strong= title_for(dvd)
            %td
              = "Location: #{ dvd.location.try(:print) }" unless dvd.location.nil?
            %td
              = genre_for(dvd)
            %td
              = dvd.note
            %td
              = link_to 'Show', dvd
              &nbsp;|&nbsp;
              = link_to 'Edit', edit_dvd_path(dvd)
              &nbsp;|&nbsp;
              = link_to 'Destroy', dvd, method: :delete, data: { confirm: 'Are you sure?' }

  <br>

  = link_to 'New DVD', new_dvd_path, class: "btn btn-primary"
