.row
  .col-md-12
    %h2= @dvd.title || @dvd.home_theater_info.dvd_title

    .row
      .col-md-1
        %strong Title
      .col-md-4
        = @dvd.title || @dvd.home_theater_info.dvd_title
    .row
      .col-md-1
        %strong Genre
      .col-md-4
        = @dvd.genre || @dvd.home_theater_info.genre
    .row
      .col-md-1
        %strong Notes
      .col-md-4
        = @dvd.note || '--'

  .row &nbsp;
  .row &nbsp;

  - if @dvd.home_theater_info
    .well
      %h3 Home Theater Info
      .row
        .col-md-1
          %strong Title
        .col-md-4
          = @dvd.home_theater_info.dvd_title
      .row
        .col-md-1
          %strong Genre
        .col-md-4
          = @dvd.home_theater_info.genre
      .row
        .col-md-1
          %strong UPC
        .col-md-4
          = @dvd.home_theater_info.upc
      .row
        .col-md-1
          %strong Studio
        .col-md-4
          = @dvd.home_theater_info.studio
      .row
        .col-md-1
          %strong Rating
        .col-md-4
          = @dvd.home_theater_info.rating
      .row
        .col-md-1
          %strong Released
        .col-md-4
          = @dvd.home_theater_info.released || "--"
      .row
        .col-md-1
          %strong Year
        .col-md-4
          = @dvd.home_theater_info.year



.row
  = link_to 'Edit', edit_dvd_path(@dvd), class: 'btn btn-default'
  = link_to 'Back', dvds_path, class: 'btn btn-default'
