.row
  .col-md-12
    %h2= @dvd.title || @dvd.home_theater_info.dvd_title

    .row
      .col-md-1
        %strong Title
      .col-md-4
        = title_for(@dvd)
    .row
      .col-md-1
        %strong Genre
      .col-md-4
        = genre_for(@dvd)
    .row
      .col-md-1
        %strong Notes
      .col-md-4
        = @dvd.note || '--'

  .row &nbsp;
  .row &nbsp;


- if @dvd.home_theater_info
  = render 'home_theater_info', info: @dvd.home_theater_info

.row
  = link_to 'Edit', edit_dvd_path(@dvd), class: 'btn btn-default'
  = link_to 'Back', dvds_path, class: 'btn btn-default'
