= form_for @location do |f|
  - if @location.errors.any?
    #error_explanation
      %h2
        = pluralize(@location.errors.count, "error")
        prohibited this location from being saved:

      %ul
        - @location.errors.full_messages.each do |message|
          %li= message
  .row
    .col-md-2
      .form_group
        %label{for: "shelf"} Shelf
        = f.text_field :shelf, class: "form-control"
      .form_group
        %label{for: "shelf"} Row
        = f.text_field :row, class: "form-control"
      .form_group
        %label{for: "shelf"} Stack
        = f.text_field :stack, class: "form-control"

  .row &nbsp;

  .actions
    = f.submit class: "btn btn-success"
    = link_to "Cancel", locations_path, class: "btn btn-default"
